/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* router-outlet+* {
  position: absolute;
  display: block;
  height: 100vh;
  width: 100vw;
} */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Snackbars */
.mat-simple-snackbar-action {
  color: black;
}

/* Error snackbar*/
.error-snackbar {
  color: white;
  background-color: rgb(202, 53, 53);
}

/* Success snackbar*/
.success-snackbar {
  color: white;
  background-color: rgb(32, 138, 111);
}

/* Info snackbar*/
.info-snackbar {
  color: white;
  background-color: rgb(124, 123, 123);
}

/* Warning snackbar*/
.warning-snackbar {
  color: white;
  background-color: #d3b823;
}